/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import url('~/platform.css');

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

Page {
    background-color: #7f9efc;
    font-size: 17;
}
Label {
    margin: 5;
    padding: 5;
}

Image {
    height: 70%;
    width: 100%;
    border-radius: 5px;
}

Button {
    margin: 10;
    padding: 10;
    background-color: #f07da8;
    color: white;
}

ActionBar {
    color: white;
    background-color: white;
}

.cardStyle {
    background-color:white;
    border-color: lightgray;
    border-radius: 7px;
    border-width: 2px;
    height: 80%;  
}

.innerCardStyle {
    background-color: #fafafa;
    color: #000;
    width: 90%;
    padding-left: 10;
    border-radius: 2;
}
.quicksand {
    font-family: "Quicksand-Regular";
    font-size: 20;
}
.quicksandBold {
    font-family: "Quicksand-Bold";
    font-size: 25;
}
.quicksandBoldLarge {
    font-family: "Quicksand-Bold";
    font-size: 40;
}
.clip-circle {
    clip-path: circle(100% at 50% 50%); 
    margin: 0;
    padding: 0;
}

.cardStack {
    margin-top:0;
}

.settingsPage {
    background-color: white;
}

.mySwitch {

}

.action-bar-logo{
    width: 175;
    height: 40;
    align-content: center;
    margin-left: 55;
    margin-right: 15;
}

.action-bar-gear{
    color: gray;
    width: 175;
    height: 40;
}

.nameLabel {
    font-family: "Quicksand-Bold";
    font-size: 25;
    margin: 0;
    padding: 0;
    padding-left: 5;
}

.info-label {
    font-family: "Quicksand-Bold";
    font-size: 15;
    margin: 0;
    padding: 2;
    padding-right: 5;
    padding-left: 5;
    color: gray;
}

.starImage {
    background-color: orange;
    width: 78;
    height: 20;
    border-radius: 0.05px;
    /* background-image: linear-gradient(to right, orange 50%, white 50%); */
}

.distance-label {
    font-family: "Quicksand-Bold";
    font-size: 15;
    margin: 0;
    padding-left: 115;
    color: gray;
}

.action-button {
    width: 400;
    height: 50;
}

.bottom-card {
    font-family: "Malvie";/*"KaushanScript-Regular"; */
    font-size: 35;
    color: rgb(145, 142, 142); 
    text-align: center;
    padding-top: 50;
    vertical-align: middle;
}

.bottom-card-border {
    border-radius: 7px;
    border-color: rgb(168, 167, 167); 
    border-width: 3px;
    border-style: dashed;
    height: 70%;
    width: 80%;
}

